html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  overflow-y: auto; /* Make the body scrollable */
}

.form-container {
  padding: 20px 0; /* Add padding to the top and bottom */
  width: 100%;
  max-width: 800px; /* Set a max width for the form */
  box-sizing: border-box; /* Include padding in the width calculation */
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

div {
  text-align: left;
  margin-bottom: 15px;
}

h2,
button {
  margin: 0 auto;
  display: block;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.result-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.resetButton {
  margin-top: 20px;
}
