html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

div {
  text-align: left;
  margin-bottom: 15px;
}

h2,
button {
  margin: 0 auto;
  display: block;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
